<h4 class="ui center aligned medium icon header">
  <i class="circular red big coffee icon"></i>
  CHAT APP
</h4>
<h3 class="ui center aligned medium icon header">Log in to continue</h3>


<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_for(:session, html: {class: "ui form", role: "form"}, url: login_path) do |f| %>
        <div class="field">
          <%= f.label :username, "Username" %>
          <div class="ui left icon input">
            <%= f.text_field :username, placeholder: "Username" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password, "Password" %>
          <div class="ui left icon input">
            <%= f.password_field :password, placeholder: "PAssword" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= f.button "Login", class: "ui orange submit button" %>
        <% end %>
      </div>
    <div class="middle aligned column">
      <div class="ui big button black">
        <i class="signup icon red"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>